<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TEST</display-name>
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
 <resource-ref>
    <description>SMARTHOME</description>
    <res-ref-name>jdbc/SMARTHOME</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
 
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>com.Login</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login.html</url-pattern>
</servlet-mapping>
    
<servlet>
<servlet-name>SignUp</servlet-name>
<servlet-class>com.SignUp</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>SignUp</servlet-name>
<url-pattern>/signup.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Registration</servlet-name>
<servlet-class>com.Registration</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>Registration</servlet-name>
<url-pattern>/registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SignIn</servlet-name>
<servlet-class>com.SignIn</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>SignIn</servlet-name>
<url-pattern>/signin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>URedirect</servlet-name>
<servlet-class>com.URedirect</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>URedirect</servlet-name>
<url-pattern>/users.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RoomRedirect</servlet-name>
<servlet-class>com.RoomRedirect</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>RoomRedirect</servlet-name>
<url-pattern>/myrooms</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>com.Logout</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
 
<servlet>
<servlet-name>RoomsController</servlet-name>
<servlet-class>com.RoomsController</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>RoomsController</servlet-name>
<url-pattern>/addroom</url-pattern>
</servlet-mapping> 
 
<servlet>
<servlet-name>DeleteRoom</servlet-name>
<servlet-class>com.DeleteRoom</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>DeleteRoom</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping> 

<servlet>
<servlet-name>EditRoom</servlet-name>
<servlet-class>com.EditRoom</servlet-class>
</servlet>
 
<servlet-mapping>
<servlet-name>EditRoom</servlet-name>
<url-pattern>/edit</url-pattern>
</servlet-mapping> 
  
  <servlet>
  <servlet-name>NewServlet</servlet-name>
  <servlet-class>com.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NewServlet</servlet-name>
  <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  

</web-app>