@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

option
{
	
	width:100px;
}

* {
	margin:0;
	padding:0
}
html, body {
	background:url(../images/bg.jpg) #383a3f;
	margin:0;
	padding:0;
}
.header_menu {
	width:19%;
	margin:10px 10px;
	float: left;
}

.container > header{
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.container > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 120px;
	line-height: 120px;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}

ul.vmenu {
	background-color: #454851;
	border: 1px solid #25272b;	
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 1px rgba(0,0,0,0.2),inset 1px 1px 0 rgba(255,255,255,0.1);
	-o-box-shadow: 0 2px 1px rgba(0,0,0,0.2),inset 1px 1px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2),inset 1px 1px 0 rgba(255,255,255,0.1);
	-ms-box-shadow: 0 2px 1px rgba(0,0,0,0.2),inset 1px 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 2px 1px rgba(0,0,0,0.2),inset 1px 1px 0 rgba(255,255,255,0.1);
	list-style: none;
	font: 13px Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	overflow:hidden
}
ul.vmenu li.myhome {background:url(../images/home-icon.png) 12px 12px no-repeat}
ul.vmenu li.myhome:hover {background:url(../images/home-icon.png) 12px -21px no-repeat}

ul.vmenu li.myprofile {background:url(../images/profile-icon.png) 12px 12px no-repeat}
ul.vmenu li.myprofile:hover {background:url(../images/profile-icon.png) 12px -24px no-repeat}

ul.vmenu li.mymods {background:url(../images/mode-icon.png) 12px 11px no-repeat}
ul.vmenu li.mymods:hover {background:url(../images/mode-icon.png) 12px -22px no-repeat}

ul.vmenu li.myrooms {background:url(../images/room-icon.png) 12px 12px no-repeat}
ul.vmenu li.myrooms:hover {background:url(../images/room-icon.png) 12px -23px no-repeat}

ul.vmenu li.mydevices {background:url(../images/device-icon.png) 12px 12px no-repeat}
ul.vmenu li.mydevices:hover {background:url(../images/device-icon.png) 12px -22px no-repeat}

ul.vmenu li.help {background:url(../images/help-icon.png) 12px 11px no-repeat}
ul.vmenu li.help:hover {background:url(../images/help-icon.png) 12px -22px no-repeat}

ul.vmenu li.contact {background:url(../images/contactus-icon.png) 12px 12px no-repeat}
ul.vmenu li.contact:hover {background:url(../images/contactus-icon.png) 12px -25px no-repeat}

ul.vmenu li.logout {background:url(../images/logout-icon.png) 12px 11px no-repeat}
ul.vmenu li.logout:hover {background:url(../images/logout-icon.png) 12px -23px no-repeat}

ul.vmenu li a {
	background: url(../images/bg-li-a.png) repeat-x;
	-mozbox-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);	
	border-bottom:1px solid #292b30;
	color:#d9ddea;
	display:block;
	text-decoration:none;
	padding:10px 10px 10px 40px;
	height:14px;
}
ul.vmenu li:first-child a {box-shadow:none}
ul.vmenu li a:hover {background: url(../images/bg-li-a-hover.png) repeat-x}

.content 
{
margin-right : 10px;
margin-top :10px;
float : right;
width: 78%;
}


.feature h1{
	color:#d9ddea;
	font-size: 16px;
	border: 0;
	padding:0;
	margin: 0;	
}

.feature p {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	line-height: 16px;
		color: #FFFFFF;
}

.feature a {
	color: #999999;	
}
.feature {
	font: 13px Tahoma, sans-serif;
	background: #666;
	border: 1px solid #777;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 20px 15px;
	width: auto;
	color: #999999;
	font-size: 12px;
	line-height: 18px;
	float: center;
	text-align: justify;
	margin-bottom: 10px;
	/*text-shadow: 0px 1px 0px #fff;*/
	
}

.feature:hover {
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
	border: 1px solid #999;
	
}


strong {
	font-weight: bold;
}


.living_room {
	background: #4997c9 url(../images/livingroomd.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
}

.bedroom {
	background: #4997c9 url(../images/bedroom.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
}

.kitchen {
	background: #4997c9 url(../images/kitchend.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
}

.bathroom {
	background: #4997c9 url(../images/bathroomd.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
}
 
.condi {
	background: #4997c9 url(../images/condip.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.camera {
	background: #4997c9 url(../images/camerasp.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.lamp {
	background: #4997c9 url(../images/lampp.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.music {
	background: #4997c9 url(../images/musicp.jpg) no-repeat;
	/*background-position: 50%;*/
	width: 188px;
	height: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

/** QQQ KEMi */

.features{
    padding:0;
	width: 100%;
	height: auto;
}

.features li a{
    text-align: left;
    width: 100%;
    height: 100%;
}

.features li:hover .kitchen{
	background: #555 url(../images/kitchen.jpg) no-repeat;
	
}

.features li:hover .living_room{
	background: #555 url(../images/livingroom.png) no-repeat;
	
}

.features li:hover .bathroom{
	background: #555 url(../images/bathroom.jpg) no-repeat;
	
}

.features li:hover .bedroom{
	background: #555 url(../images/bedrooml.jpg) no-repeat;
	
}

.features li:hover .music{
	background: #555 url(../images/music.jpg) no-repeat;
	
}

.features li:hover .lamp{
	background: #555 url(../images/lamp.jpg) no-repeat;
	
}

.features li:hover .condi{
	background: #555 url(../images/condi.jpg) no-repeat;
	
}

.features li:hover .camera{
	background: #555 url(../images/cameras.jpg) no-repeat;
	
}